<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <a class="navbar-brand feed-page" href="/feed">
        <h3>Student-E-Store</h3>
      </a>
    </div>
    {{!-- feed, category, wishlist, messages, my listings, profile--}}
    <ul class="list-unstyled components">

      <li>
        <a href="/profile">My Profile</a>
      </li>

      <li class="active">
        <a href="/feed">Feed</a>
      </li>

      <li >
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Category</a>
        <ul class="collapse list-unstyled category-item" id="homeSubmenu">
          <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
          </div>
        </ul>
      </li>

      <li>
        <a href="/wishlist">Wishlist</a>
      </li>


      <li>
        <a href="/listings">My Listings</a>
      </li>
    </ul>

  </nav>
  <div id="content">
    {{!-- Put in main content here  --}}

    <div class="container" style="margin-top:20px">
      <div class="row profile-text">
        
        <div class="col-6">
          <div class="card rounded-edge">
            <img src="{{userData.photoUrl}}" alt=""
            class="profile-pic">
            <div class="card-body profile-card">
              <h3><strong>My Profile</strong></h3>

              <p>
                <span>{{userData.firstName}} {{userData.lastName}}</span>
                <hr class="hr-form">
              </p>
              <p> <span>{{userData.email}}</span>
                <hr class="hr-form">
              </p>
              <p> <span>{{userData.phoneNumber}}</span>
                <hr class="hr-form"> <br></p>
                <div class="row">
                  <div class="col-md-6">
                    <p>SMS notification </p>
                  </div>
                  <div class="col-md-6">
                    <div class="material-switch pull-right">
                      <input id="someSwitchOptionSuccess" name="someSwitchOption001" type="checkbox" />
                      <label for="someSwitchOptionSuccess" class="label-success"></label>
                    </div>
                  </div>
                </div>
                <hr class="hr-form">
                <button type="button" class="btn btn-light">Edit</button>
                <button type="button" class="btn btn-success">Save</button>
              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="card rounded-edge">
              <div class="card-body profile-card">
                <div class="card-header">
                  <h3> <strong>My Activity</strong> </h3>
                </div>
                <p><strong>Active Listings: </strong> <span>20</span></p>
                <p><strong>Amount Sold:</strong><span>2</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>