<div id="fb-root"></div>

<div class="jumbotron mainPage" style="text-align: center;">
  <h1 class="display-3">Students-E-Store</h1>
  <p class="lead">Welcome to Student-E-Store</p>
  <hr class="my-2">
  <p class="lead">
    <!-- This is the code for the actual Facebook Login Button -->
    <div class="fb-login-button" data-scope="public_profile" data-onlogin="handleLogin" data-width="400" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true"></div>
  </p>
</div>