<!-- The below script initializes the Facebook Javascript SDK -->
    <!-- As per the docs, this script must exist immeadiately after the body tag -->
    <div id="fb-root"></div>
    {{!-- <script>
        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1&appId=318450952247545&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script> --}}

    <div class="jumbotron" style="text-align: center;">
        <h1 class="display-3">BUY AND SELL</h1>
        <p class="lead">Welcome message</p>
        <hr class="my-2">
        <p> Details</p>
        <p class="lead">
            <!-- This is the code for the actual Facebook Login Button -->
            <div class="fb-login-button" data-scope="public_profile" data-onlogin="handleLogin" data-width="400" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true"></div>
        </p>
    </div>

    <script type="text/javascript" src="./js/index.js"></script> 
