 <div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <a class="navbar-brand feed-page" href="/feed">
        <h3>Student-E-Store</h3>
      </a>
    </div>
    {{!-- feed, category, wishlist, messages, my listings, profile--}}
    <ul class="list-unstyled components">

      <li>
        <a href="/profile">My Profile</a>
      </li>

      <li class="active">
        <a href="/feed">Feed</a>
      </li>

      <li >
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Category</a>
        <ul class="collapse list-unstyled category-item" id="homeSubmenu">
          <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
          </div>
        </ul>
      </li>

      <li>
        <a href="/wishlist">Wishlist</a>
      </li>
      
      
      <li>
        <a href="/listings">My Listings</a>
      </li>
    </ul>

  </nav>
  <div id="content">
    {{!-- Put in main content here  --}}
    
    <div class="container">
      <div class="row">
        <div class="col-12">
          {{#each listings}}
          <div class="card product">

            <div class="card-body">
              <div class="row">
                <div class="col-2">
                  <img src="https://via.placeholder.com/140x100" alt="">
                </div>
                <div class="col-7">
                  <p><strong> {{name}} </strong></p>
                  <p class="productDescription">{{description}}</p>
                  <p class="productCategory"> Category:{{Category.name}}</p>
                </div>
                <div class="col-3 priceQuantity">
                  ${{price}} <br> Stock: {{quantity}}
                  <br> {{!-- <button type="submit" class="btn btn-primary message-seller" data-seller="{{this.UserId}}"
                  data-id="{{this.id}}">Message --}} {{!-- </button> --}}
                </div>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
    {{!-- End content here --}}
  </div>
</div>

