
    <div class="container text-center" style="margin-top:20px">

        <div class="row">
            <div class="col-md-8 offset-md-2 offset-md-right-2">
                {{#each product}}
                <div>
                    {{name}}<br>
                    {{price}}<br>
                    {{quantity}}<br>
                </div>
                {{/each}}
            </div>
        </div>


    </div>
