* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  background-color:whitesmoke;
}


/* index page styles */
.mainPage{
  background-image: url("../images/books.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  min-width: 100%;
  height: 500px;
}

.display-3{
  font-family: 'Baloo Tammudu', cursive;
  color:white;
  font-size:100px;
}

.lead{
  font-family: 'Open Sans', sans-serif;
  color:white;
}

/* feed page styles */
.pageTitle{
  margin:20px;
  text-align:center;
  font-family: 'Open Sans', sans-serif;
  font-weight:bold;
}

.postCard{
  position:fixed;
    top:210px;
    border-radius: 25px 0px 0px 0px;
    /* width: 270px; */
    /* height:100%; */
    /* overflow:auto; */
}

.newPost{
  /* background-image: linear-gradient(to right top, #ff9671, #fb7f5d, #f6654c, #f1463e, #eb1232); */
  background-color: #051E43;
  color:white;
  text-align: center;
  border-radius:25px 1px !important;
}

.wishlistButton{
  /* background-image: linear-gradient(to right top, #ff9671, #fb7f5d, #f6654c, #f1463e, #eb1232); */
  background-color: #FF8066;
  border:none;
}

.message-seller, .feedPost{
  background-color:lightseagreen;
  /* background-color: #5C3465; */
  border:none;
}

label{
  font-weight:bold;
}

.form-group{
  margin-top:10px;
}

.form-control{
  background-color:whitesmoke;
}

.priceQuantity{
  color:slategrey
}

.list-group-item {
  line-height: 2.5;
}

.product {
  margin-bottom:20px;
  padding-right:15px;
  border-radius:25px;
}

.wishlistButton {
  margin-bottom:10px;
}

/* wish list styles */
.fa-star{
  color:orangered;
  /* color: #FF8066; */
  
}

.feedStar{
  color:white;
}

/* listings page styles */
.fa-list-ul{
  color:orangered;
}

.productDescription, .productCategory{
  margin-top:-10px;
}


.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.message-box {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.message-box::after {
  content: "";
  clear: both;
  display: table;
}

.message-box img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.message-box img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}

.profile-container {
  margin-top: 20px;
}
.profile__avatar {
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
  overflow: hidden;
}

.profile-pic {
  height: 300px;
  border-radius: 50px 50px 0px 0px;
  object-fit: cover;
  /* width: 80px; */
}
.rounded-edge, searchnav{
  border-radius: 50px;
  background-color: #051E43;
  /* background: rgb(255, 248, 248); */
}
.navbar-default {
  background-color:teal;
  background-image: none;
  background-repeat: no-repeat;
 }
.navbar-custom{
  border-radius: 50px;
  background-color: #051E43;
  /* background: rgb(255, 248, 248); */
}



.profile-text p, .profile-text h3 {
  color: #fff;
}

.profile-card {
  margin: 20px;
}
.hr-form{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right top, #fdfeff, #ebedee, #dadcdc, #c9ccca, #babbb9);
    margin-top: -10px;
}
.btn {
  border-radius: 20px;
}

.card {
  margin-top: 10px;
  /* border: solid 1px #2F3E67; */
}

/* toggle */
.material-switch > input[type="checkbox"] {
  display: none;   
}

.material-switch > label {
  cursor: pointer;
  height: 0px;
  position: relative; 
  width: 40px;  
}
/* background off */
.material-switch > label::before {
  background:#FDFEFF;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: '';
  height: 16px;
  margin-top: -8px;
  position:absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 40px;
}
/* button off */
.material-switch > label::after {
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: '';
  height: 24px;
  left: -4px;
  margin-top: -8px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px;
}
/* background on */
.material-switch > input[type="checkbox"]:checked + label::before {
  background: #BE36B3;
  opacity: 0.5;
}
/* toggle on  */
.material-switch > input[type="checkbox"]:checked + label::after {
  background: #FF8066;
  left: 20px;
}


#post-pic {
  margin-bottom:10px;
}


/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #FBF8FF;
}


p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
  SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  /* background: #845EC2; */
  background: #051E43;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #051E43;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #2F3E67;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
  background: #2F3E67;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background:#2F3E67 ;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

/* ---------------------------------------------------
  CONTENT STYLE
----------------------------------------------------- */

#content {
  width: calc(100% - 250px);
  padding: 40px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#content.active {
  width: 100%;
}

/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
  #content {
      width: 100%;
  }
  #content.active {
      width: calc(100% - 250px);
  }
  #sidebarCollapse span {
      display: none;
  }
}

